@font-face {font-family: "Anter";
    src: url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.eot");
    src: url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.svg#Anter") format("svg");
}
@font-face {font-family: "LuloClean";
    src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot");
    src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#LuloCleanW01-One") format("svg");
}
*{
	font-family: LuloClean;
}
a.active{
	background-color: #424242 grey darken-3 !important;
}
a{
	color: black;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #000;
	font-family: Anter !important;
}
label{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #000;
}
#mojo{
	background: url('../images/insta-husband_facebook_optimized_size.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 85vh;
	width: 100vw;
}
#forest{
	background: url('../images/hug.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 60vh;
	width: 100vw;
}
h4{
	color: white;
}
#venue{
	background: url('../images/RobinswoodHouse.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	width: 100vw;
}
#left{
	height: 50vh;
}
#map-canvas{
	height: 100%; 
	margin: 0; 
	padding: 0;
}
#pike{
	color: white;
	vertical-align: top;
	background: url('../images/pike_place.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
body {
    display: flex;
    color: #e0e0e0;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}
main {
    flex: 1 0 auto;
}
#footer_text{
	margin: 0;
}
#footer{
	display: inline;
	padding: 0;
	margin: 0;
}
.row{
	margin: 0;
}
th{
	color: black;
}
.aco{
	height: 100vh;
}
.tabs{
	color: black;
}
#card-pic{
	height: 40vh;
}
#hotel{
	color: white !important; 
}
nav{
	background-color: black !important;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}