@font-face {font-family: "Anter";
    src: url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.eot");
    src: url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c485bd943deb738cde7beb2a970fefa8.svg#Anter") format("svg");
}
@font-face {font-family: "LuloClean";
    src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot");
    src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#LuloCleanW01-One") format("svg");
}
*{
	font-family: LuloClean;
}
a.active{
	background-color: #424242 grey darken-3 !important;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #000;
	font-family: Anter !important;
}
h4{
	color: white;
	text-align: center;
	text-shadow: 3px 3px 3px #000;
}
#deets{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #000;
}
label{
	text-align: center;
	color: white;
	text-shadow: 3px 3px 3px #000;
}
#mojo{
	background: url('../images/insta-husband_facebook_optimized_size.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 85vh;
	width: 100vw;
	max-width: 100%
}
#forest{
	background: url('../images/hug.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	width: 100vw;
	max-width: 100%
}
#venue{
	background: url('../images/RobinswoodHouse.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75%;
	width: 100%;
	max-width: 100%
}
#kiss{
	background: url('../images/beach_kiss_facebook_optimized_size.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
#left{
	height: 50vh;
}
#map-canvas{
	height: 100%; 
	margin: 0; 
	padding: 0;
}
body {
    display: flex;
    color: #e0e0e0;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}
main {
    flex: 1 0 auto;
}
#footer_text{
	margin: 0;
}
#footer{
	display: inline;
	padding: 0;
	margin: 0;
}
.row{
	margin: 0;
}
th{
	color: black;
}
.aco{
	height: 100vh;
}
.collection-item a{
	color: black !important;
}
#card-pic{
	height: 40vh;
}
#hotel{
	color: white !important; 
}
nav{
	background-color: black !important;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.carousel{
	height: 100vh !important;
	width: 100vw !important;
	perspective: 1000px;
}
.carousel .carousel-item img{
	width: 225% !important;
}
.tab{
	color: black;
}
